*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(19, 58, 92);
    color: white;
    }
    .parent{
        width: 100%;
        font-size: 20px;
    }
    .calculator{
        width: 50%;
        margin:30px auto;
        align-items: center;
        display: flex;
        flex-direction: column;
        border: 4px solid rgb(8, 2, 2);
        border-radius: 5px;
    
    }
    .calculator p{
        padding: 20px ;
    }
    .calculator-sec{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        height: 40vh;
    
    }
    .input-sec{
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    input{
        width: 100%;
        height: 4vh;
        padding: 5px;
        font-size: 20px;
        margin: 10px;
    }
    .show-data{
        /* width: 80%; */
      /* border: 1px solid black; */
      padding: 30px;
    }
    button{
        width: 40%;
        padding: 5px;
        font-size: 20px;
        margin-top: 20px;
        background-color: aqua;
    }